/* SEZIONE CHI SIAMO - Section_who-are */

#section_who-are {
	padding: 60px 180px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 40px;
}

#secton_who-are--box {
	display: flex;
	gap: 60px;
}

/* SEZIONE PREZZI DEL CORSO */

#section_prices {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 60px 0;
}

th,
td {
	padding: 20px 15px;
}

thead {
	background-color: rgb(73, 152, 189);
	color: white;
}

tbody tr:nth-child(odd) {
	background-color: #d2dce7;
}

table td,
table th {
	border-right: 0.3px white dashed;
}

/* RESPONSIVE */

/* TABLET */

@media screen and (min-width: 480px) and (max-width: 1024px) {
}

/* MOBILE */

@media screen and (max-width: 480px) {
}
