/* IMPOSTAZIONI GENERALI */

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
	box-sizing: border-box;

	font-family: "Fira Sans", sans-serif;
	color: #000;
	font-size: 1.2rem;
	line-height: 1.8;
}

#container {
	width: 100%;
}

h1 {
	font-size: 4rem;
	margin-bottom: 14px;
}

h2 {
	font-size: 3.5rem;
}

h3 {
	font-size: 2.5rem;
	line-height: 1;
	margin-bottom: 5px;
}

h4 {
	font-size: 1.5rem;
	line-height: 1;
	margin-bottom: 15px;
}

i {
	color: #e42424;
	font-size: 2.5rem;
}

button {
	font-size: 1.9rem;
	color: white;
	background-image: linear-gradient(90deg, #6cc1e2, #392f7a);
}

.text--uppercase {
	text-transform: uppercase;
}

.text--centered {
	text-align: center;
}
/* HEADER */

#header {
	background-color: white;
	box-shadow: #d3d3d3;
	display: flex;
	justify-content: space-around;
	padding: 20px 0;
}

#header__logo {
	width: 10rem;
}

#nav ul {
	list-style-type: none;
	display: flex;
	align-items: center;
	gap: 20px;
}

.nav__a--style {
	text-decoration: none;
	color: gray;
}

#nav__btn {
	padding: 12px 14px;
	border: none;
}
/* MAIN */

/* ELEMENTI NEL MAIN - SECTION INFO */

#section__info {
	background-image: url("../images/banner.jpg");
	background-size: cover;
	background-position-y: center;
	color: white;
	padding: 100px 0;
	line-height: 1.2;
}

#container__info {
	width: 55%;
	margin: 0 auto;
}

#info__btn {
	padding: 12px 14px;
	border: 4px black solid;
	margin-top: 30px;
}

/* ELEMENTI NEL MAIN - SECTION EXPLANATION */

#section__explanation {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;
	padding: 40px 80px;
}

#section__first-part {
	text-align: center;
}

#section__second-part {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 30px;
}

.articles-container {
	width: 30%;
}

.subtitle--centered {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 6px;
	padding-bottom: 10px;
}

.section__i {
	font-size: 2.5rem;
}

/* ELEMENTI NEL MAIN - SECTION EXPLANATION */

#section__write-us {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px;
	background-color: #0c0633;
	color: white;
}

#write-us__btn {
	padding: 12px 14px;
	margin-top: 30px;
	border: none;
}

/* ASIDE */

#aside {
	padding: 40px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 80px;
}

#aside_article {
	gap: 35px;
	display: flex;
	flex-direction: column;
	line-height: 1.8;
}

.articles_who-are span {
	margin-right: 10px;
}
/* FOOTER */

#footer {
	padding: 40px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(238, 238, 238);
}

#footer--socials {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-bottom: 40px;
}

.footer_box {
	width: 20%;
}

#box_icons {
	line-height: 1;
}

#footer_box--newsletter {
	display: flex;
	flex-direction: column;
}
#input_newsletter {
	height: 100%;
}
#btn_newsletter {
	padding: 8px 0;
}
/* RESPONSIVE */
